GEMINI_API_KEY=sample
SNOWFLAKE_ACCOUNT=sample
SNOWFLAKE_USER=sample
SNOWFLAKE_PASSWORD=sample@
SNOWFLAKE_ROLE=DBT_ROLE
SNOWFLAKE_WAREHOUSE=ZOMATO_WH
SNOWFLAKE_DATABASE=ZOMATO
SNOWFLAKE_SCHEMA=AI
EMBEDDING_MODEL=gemini-embedding-2
